.todoList-newTaskForm{
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

input[type=text], .button{
  display: block;
}

input[type=text] {
  width: 80%;
  padding: 8px 20px;
  margin: 5px 0;
  box-sizing: border-box;
}

.button {
  display: inline-block;
  border-radius: 8px;
  background-color: #3e8e41;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 20px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
