.todo-list {
  margin-bottom: 20px;
}

.todo-list-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todoList-task {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}

.my-flex-box {
  margin-left: 20px;
}
