* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

body{
  background-color: powderblue;
}

.wrapper {
  margin: 0 auto;
  width: 800px;
  padding: 20px 15px;
  background-color: antiquewhite;
}

.todoList {
  width: 500px;
  margin: 0 auto;
}

.todoList > div {
  padding: 10px;
}

.todoList-task {
}

.error {
  border-color: red;
}

.todoList-task .done {
  opacity: 0.5;
  text-decoration: line-through;
}

.todoList {
  width: 450px;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.header {
}

.headerTitle {
  display: flex;
  justify-content: space-between;
}

.todoList-task {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
}
